/debug
/.vscode/launch.json
/levelb/CURRENT
/levelb/LOCK
/levelb/LOG
/levelb/MANIFEST-000043
/log.txt
/levelb
/avcodec-58.dll
/avdevice-58.dll
/avfilter-7.dll
/avformat-58.dll
/avutil-56.dll
/postproc-55.dll
/swresample-3.dll
/swscale-5.dll
