<html>
 <form>
	<table>
		<tr>
			<td>cells count</td>
			<td>
				<select onchange="OnChange(this)">
					<option>1</option>
					<option>2</option>
					<option>4</option>
				</select>
			</td>
		</tr>
	</table>
	<div id="divTemplate" style="visibility: hidden; height: 0;">
		{{template "cell"}}
	</div>
	<div>
		<table id="tblSurv">
		<tr>
			<td>
				{{template "cell"}}
			</td>
		</tr>
		</table>
	</div>
	  
	<script>
		var cellsInRow = 2

		function OnChange(elmnt) {
			tblSurv = document.getElementById("tblSurv");

			newCells = parseInt(elmnt.value);
		
			allCells = 0;
			for (rowIndex = 0; rowIndex < tblSurv.rows.length; rowIndex++) {
				allCells += tblSurv.rows[rowIndex].cells.length;
			}

			removeUpperCells(tblSurv, allCells);
			addNewCells(tblSurv);
		}

		function addNewCells(tblSurv) {
			//add new cells
			for (newCellIndex = 0; newCellIndex < newCells; newCellIndex++) {
				//current index row
				rowIndex = Math.floor(newCellIndex/cellsInRow)
				//current index cell
				cellIndex = newCellIndex % cellsInRow

				//new row
				addRow(tblSurv, rowIndex)
				addCell(tblSurv.rows[rowIndex], cellIndex)
			}
		}

		function removeUpperCells(tblSurv, allCells) {
			//remove upper newCells
			for (newCellIndex = allCells - 1; newCellIndex >= newCells; newCellIndex--) {
				//current index row
				rowIndex = Math.floor(newCellIndex/cellsInRow)
				//current index cell
				cellIndex = newCellIndex % cellsInRow
				
				//not exist cells in row
				if (cellIndex == 0) {
					removeCell(tblSurv.rows[rowIndex], cellIndex)
					removeRow(tblSurv, rowIndex)
				}
				//exist cells in row
				else {
					removeCell(tblSurv.rows[rowIndex], cellIndex)
				}
			}
		}

		function addRow(table, index) {
			if (!table.rows[index]) {
				table.insertRow(index);
			}
		}

		function removeRow(table, index) {
			if (table.rows[index]) {
				table.deleteRow(index);
			}
		}

		function addCell(row, index) {
			if (!row.cells[index]) {
				cell = row.insertCell(index);
				cellTemplate = document.getElementById("divTemplate")
				cell.innerHTML = cellTemplate.innerHTML
			}
		}

		function removeCell(row, index) {
			if (row.cells[index]) {
				row.deleteCell(index);
			}
		}
	</script>
 </form>
</html>